{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="" />
	<!-- OG -->
	<meta name="robots" content="index, follow">

	<meta name="keywords" content="University, College, Computer Science Department, Research, Education, College, Degree, Information Technology" />
	<meta name="author" content="Ryuga" />
    <meta name="title" content="Department of Computer Science | Christ College Irinjalakuda" />
	<meta name="description" content="Welcome to the Department of Computer Science, Christ College Irinjalakuda" />



	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="{% static 'images/icon/favicon.ico' %}" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'images/icon/favicon.ico' %}" />

	<!-- PAGE TITLE HERE ============================================= -->
	<title>Department of Computer Science | Christ College (Autonomous) </title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!--[if lt IE 9]>
	<script src="{% static 'js/html5shiv.min.js' %}"></script>
	<script src="{% static 'js/respond.min.js' %}"></script>
	<![endif]-->

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets.css' %}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes/shortcodes.css' %}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}">

	<!-- REVOLUTION SLIDER CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/navigation.css' %}">
	<!-- REVOLUTION SLIDER END -->
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
    <header class="header rs-nav header-transparent">
		<div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="{% url 'home' %}"><img src="{% static 'images/logo-white.png' %}" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<!-- Social details ==== -->
{#                    <div class="secondary-menu">#}
{#                        <div class="secondary-inner">#}
{#                            <ul>#}
{#								<li><a href="javascript:;" class="btn-link"><i class="fa fa-facebook-square"></i></a></li>#}
{#								<li><a href="javascript:;" class="btn-link"><i class="fa fa-twitter-square"></i></a></li>#}
{#								<li><a href="javascript:;" class="btn-link"><i class="fa fa-instagram"></i></a></li>#}
{#							</ul>#}
{#						</div>#}
{#                    </div>#}

					<!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start" id="menuDropdown">
						<div class="menu-logo">
							<a href="{% url 'home' %}"><img src="{% static 'images/logo.png' %}" alt=""></a>
						</div>
                        <ul class="nav navbar-nav">
							<li class="active"><a href="#!">Home </a></li>
							<li class="add-mega-menu"><a href="javascript:;">Courses <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu add-menu">
									<li class="add-menu-left">
										<h5 class="menu-adv-title">Courses</h5>
										<ul>
											<li><a href="#!">Bsc Computer Science</a></li>
											<li><a href="#!">BCA (Computer Application)</a></li>
											<li><a href="#!">Msc Computer Science</a></li>
										</ul>
									</li>
									<li class="add-menu-right">
										<img src="{% static 'images/adv/adv.jpg' %}" alt=""/>
									</li>
								</ul>
							</li>
                            <li><a href="{% url 'about' %}">About</a></li>
							<li><a href="{% url 'events' %}">Events</a></li>
						</ul>
						<div class="nav-social-link">
							<a href="javascript:;"><i class="fa fa-facebook"></i></a>
							<a href="javascript:;"><i class="fa fa-google-plus"></i></a>
							<a href="javascript:;"><i class="fa fa-linkedin"></i></a>
						</div>
                    </div>
					<!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header Top END ==== -->
    <!-- Content -->
        {% block content %}{% endblock content %}
    <!-- Content END-->
	<!-- Footer ==== -->
    <footer>
        <div class="footer-top">
			<div class="pt-exebar">
				<div class="container">
					<div class="d-flex align-items-stretch">
						<div class="pt-logo mr-auto">
							<a href="/"><img src="{% static 'images/logo-white.png' %}" alt=""/></a>
						</div>
					</div>
				</div>
			</div>
            <div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
							<p class="text-capitalize m-b20">Weekly Breaking news analysis and cutting edge advices on job searching.</p>
                        </div>
                    </div>
					<div class="col-12 col-lg-5 col-md-7 col-sm-12">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Links</h5>
									<ul>
										<li><a href="#!">Home</a></li>
										<li><a href="#!">About</a></li>
										<li><a href="#!">Contact</a></li>
									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Courses</h5>
									<ul>
										<li><a href="#!">BSc Computer Science</a></li>
										<li><a href="#!">BCA</a></li>
										<li><a href="#!">MSc Computer Science</a></li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center"> © 2021 <span class="text-white">CS department</span>  All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>

<!-- External JavaScripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'vendors/masonry/filter.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="{% static 'js/contact.js' %}"></script>
<!-- Revolution JavaScripts Files -->
<script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script>
jQuery(document).ready(function() {
	var ttrevapi;
	var tpj =jQuery;
	if(tpj("#rev_slider_486_1").revolution == undefined){
		revslider_showDoubleJqueryError("#rev_slider_486_1");
	}else{
		ttrevapi = tpj("#rev_slider_486_1").show().revolution({
			sliderType:"standard",
			jsFileLocation:"",
			sliderLayout:"fullwidth",
			dottedOverlay:"none",
			delay:9000,
			navigation: {
				keyboardNavigation:"on",
				keyboard_direction: "horizontal",
				mouseScrollNavigation:"off",
				mouseScrollReverse:"default",
				onHoverStop:"on",
				touch:{
					touchenabled:"on",
					swipe_threshold: 75,
					swipe_min_touches: 1,
					swipe_direction: "horizontal",
					drag_block_vertical: false
				}
				,
				arrows: {
					style: "uranus",
					enable: true,
					hide_onmobile: false,
					hide_onleave: false,
					tmp: '',
					left: {
						h_align: "left",
						v_align: "center",
						h_offset: 10,
						v_offset: 0
					},
					right: {
						h_align: "right",
						v_align: "center",
						h_offset: 10,
						v_offset: 0
					}
				},

			},
			viewPort: {
				enable:true,
				outof:"pause",
				visible_area:"80%",
				presize:false
			},
			responsiveLevels:[1240,1024,778,480],
			visibilityLevels:[1240,1024,778,480],
			gridwidth:[1240,1024,778,480],
			gridheight:[768,600,600,600],
			lazyType:"none",
			parallax: {
				type:"scroll",
				origo:"enterpoint",
				speed:400,
				levels:[5,10,15,20,25,30,35,40,45,50,46,47,48,49,50,55],
				type:"scroll",
			},
			shadow:0,
			spinner:"off",
			stopLoop:"off",
			stopAfterLoops:-1,
			stopAtSlide:-1,
			shuffle:"off",
			autoHeight:"off",
			hideThumbsOnMobile:"off",
			hideSliderAtLimit:0,
			hideCaptionAtLimit:0,
			hideAllCaptionAtLilmit:0,
			debugMode:false,
			fallbacks: {
				simplifyAll:"off",
				nextSlideOnWindowFocus:"off",
				disableFocusListener:false,
			}
		});
	}
});
</script>
<script src="https://kit.fontawesome.com/6dafe43970.js" crossorigin="anonymous"></script>
</body>
</html>
