{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

	<!-- META ============================================= -->
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<link rel="canonical" href="" />
	<!-- OG -->
	<meta name="robots" content="index, follow">

	<meta name="keywords" content="University, College, Computer Science Department, Research, Education, College, Degree, Information Technology" />
	<meta name="author" content="Ryuga" />
    <meta name="title" content="Department of Computer Science | Christ College Irinjalakuda" />
	<meta name="description" content="Welcome to the Department of Computer Science, Christ College Irinjalakuda" />

	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="https://lairesit.sirv.com/Images/favicon.png" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="https://lairesit.sirv.com/Images/favicon-new.ico" />

	<!-- PAGE TITLE HERE ============================================= -->
	<title>Department of Computer Science | Christ College (Autonomous) </title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets.css' %}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">

	<!-- SHORTCODES ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/shortcodes/shortcodes.css' %}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}">

	<!-- REVOLUTION SLIDER CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/layers.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/settings.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'vendors/revolution/css/navigation.css' %}">

	<!-- REVOLUTION SLIDER END -->
	{% if upcoming_events_with_registration_open %}
	<style>
		#spin:after {
		  content:"{{upcoming_events_with_registration_open.0}} Registration";
		  animation: spin 5s linear infinite;
		}
		{{ generated_css | safe }}

	</style>
	 {% endif %}
</head>
<body id="bg">
<div class="page-wraper">
<div id="loading-icon-bx"></div>
	<!-- Header Top ==== -->
    <header class="header rs-nav header-transparent">
		<div class="top-bar">
			<div class="container">
				<div class="row d-flex justify-content-between">
					<div class="topbar-left">
						<ul>
							<li><a href="mailto:cssfdept@christcollegeijk.edu.i"><i class="fa fa-envelope-o"></i>cssfdept@christcollegeijk.edu.in</a></li>
                            <li><a href="https://www.instagram.com/techzephyrus/"><i class="fa fa-instagram"></i></a></li>
						</ul>
					</div>
					<div class="topbar-right">
						<ul>
							<li><a href="https://christcollegeijk.edu.in" target="_blank">Christ College (Autonomous) <i class="fa fa-external-link"></i></a></li>
							<li><a href="{% if upcoming_events_with_registration_open %}https://zephyrus.christcs.in{% else %}https://dashboard.christcs.in{% endif %}" class="btn-sm btn-warning text-dark" target="_blank">{% if upcoming_events_with_registration_open %}<span id="spin"></span>{% else %}Dashboard{% endif %}</a></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
		<div class="sticky-header navbar-expand-lg">
            <div class="menu-bar clearfix">
                <div class="container clearfix">
					<!-- Header Logo ==== -->
					<div class="menu-logo">
						<a href="{% url 'home' %}"><img src="https://lairesit.sirv.com/Images/logo-white.png" alt=""></a>
					</div>
					<!-- Mobile Nav Button ==== -->
                    <button class="navbar-toggler collapsed menuicon justify-content-end" type="button" data-toggle="collapse" data-target="#menuDropdown" aria-controls="menuDropdown" aria-expanded="false" aria-label="Toggle navigation">
						<span></span>
						<span></span>
						<span></span>
					</button>

					<!-- Navigation Menu ==== -->
                    <div class="menu-links navbar-collapse collapse justify-content-start float-right" id="menuDropdown">
						<div class="menu-logo">
							<a href="{% url 'home' %}"><img src="https://lairesit.sirv.com/Images/logo-blue.png" alt=""></a>
						</div>
                        <ul class="nav navbar-nav">
							<li><a href="{% url 'home' %}">Home </a></li>
                            <li><a href="{% url 'about' %}">About Us</a></li>
							<li class="add-mega-menu"><a href="javascript:;">Courses <i class="fa fa-chevron-down"></i></a>
								<ul class="sub-menu add-menu">
									<li class="add-menu-left">
										<h5 class="menu-adv-title">Courses</h5>
										<ul>
											<li><a href="{% url 'course_details' slug='bsc-computer-science' %}">Bsc Computer Science</a></li>
											<li><a href="{% url 'course_details' slug='bca' %}">BCA (Computer Application)</a></li>
											<li><a href="{% url 'course_details' slug='msc-computer-science' %}">Msc Computer Science</a></li>
										</ul>
									</li>
									<li class="add-menu-right">
										<img src="{% static 'images/adv/adv.jpg' %}" alt=""/>
									</li>
								</ul>
							</li>
							<li><a href="{% url 'events' %}">Events</a></li>
                            <li><a href="{% url 'alumni' %}">Alumni</a></li>
                            <li><a href="{% url 'gallery' %}">Gallery</a></li>
						</ul>
                    </div>
					<!-- Navigation Menu END ==== -->
                </div>
            </div>
        </div>
    </header>
    <!-- Header Top END ==== -->
    <!-- Content -->
        {% block content %}{% endblock content %}
    <!-- Content END-->
	<!-- Footer ==== -->
    <footer>
        <div class="footer-top">
			<div class="pt-exebar">
				<div class="container">
					<div class="d-flex align-items-stretch">
						<div class="pt-logo mr-auto">
							<a href="{% url 'home' %}"><img src="https://lairesit.sirv.com/Images/logo-blue.png" width="50%" alt=""/></a>
						</div>
					</div>
				</div>
			</div>
            <div class="container">
                <div class="row">
					<div class="col-lg-4 col-md-12 col-sm-12 footer-col-4">
                        <div class="widget">
{#							<p class="text-capitalize m-b20">TEST</p>#}
                        </div>
                    </div>
					<div class="col-12 col-lg-5 col-md-7 col-sm-12">
						<div class="row">
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Pages</h5>
									<ul>
										<li><a href="{% url 'home' %}">Home</a></li>
										<li><a href="{% url 'events' %}">Events</a></li>
										<li><a href="{% url 'about' %}">About Us</a></li>
										<li><a href="{% url 'alumni' %}">Alumni</a></li>

									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Courses</h5>
									<ul>
										<li><a href="{% url 'course_details' slug='bsc-computer-science' %}">BSc Computer Science</a></li>
										<li><a href="{% url 'course_details' slug='bca' %}">BCA</a></li>
										<li><a href="{% url 'course_details' slug='msc-computer-science' %}">MSc Computer Science</a></li>
									</ul>
								</div>
							</div>
							<div class="col-4 col-lg-4 col-md-4 col-sm-4">
								<div class="widget footer_widget">
									<h5 class="footer-title">Links</h5>
									<ul>
                                        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                                        <li><a href="{% url 'terms' %}">Terms & Condition</a></li>
										<li><a href="https://admin.christcs.in">Administrator Login</a></li>
									</ul>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 text-center"> © 2023 <span class="text-white">CS department | Christ College</span> | All Rights Reserved.</div>
                </div>
            </div>
        </div>
    </footer>
    <!-- Footer END ==== -->
    <button class="back-to-top fa fa-chevron-up" ></button>
</div>

<!-- External JavaScripts -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/popper.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-select/bootstrap-select.min.js' %}"></script>
<script src="{% static 'vendors/bootstrap-touchspin/jquery.bootstrap-touchspin.js' %}"></script>
<script src="{% static 'vendors/magnific-popup/magnific-popup.js' %}"></script>
<script src="{% static 'vendors/counter/waypoints-min.js' %}"></script>
<script src="{% static 'vendors/counter/counterup.min.js' %}"></script>
<script src="{% static 'vendors/imagesloaded/imagesloaded.js' %}"></script>
<script src="{% static 'vendors/masonry/masonry.js' %}"></script>
<script src="{% static 'vendors/masonry/filter.js' %}"></script>
<script src="{% static 'vendors/owl-carousel/owl.carousel.js' %}"></script>
<script src="{% static 'js/functions.js' %}"></script>
<!-- Revolution JavaScripts Files -->
<script src="{% static 'vendors/revolution/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/jquery.themepunch.revolution.min.js' %}"></script>
<!-- Slider revolution 5.0 Extensions  (Load Extensions only on Local File Systems !  The following part can be removed on Server for On Demand Loading) -->
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendors/revolution/js/extensions/revolution.extension.video.min.js' %}"></script>
<script src="https://kit.fontawesome.com/7eae56138c.js" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/Ryuga/floating-icon@6ae78b9f2b7bf94b6ea3f0853af004d1bc151022/dist/floatingicon.js"></script>
    <script>
        createFloatingIconLink({
            text: "Open Source",
            link: "https://www.github.com/ryuga/department-website",
            bottom:"60px",
            right:"23px",
            fontSize: 15,
            initialDelay: 2000,
        });
    </script>
{% block scripts %} {% endblock scripts %}

</body>
</html>
