
{% extends 'dashboard/layouts/base.html' %}

{% load static %}
{% block content %}
<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Admin | Registration Data</h4>
				<ul class="db-breadcrumb-list">
					<li>Dashboard</li>
					<li>Zephyrus</li>
                    <li>Registration</li>
                    <li>Data</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Registration Data</h4>
						</div>
						<div class="widget-inner">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="row">
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="card mb-4">
                                            <div class="card-header bg-transparent">
                                                <h5>Total Students Registered</h5>
                                            </div>
                                            <div class="card-body">
                                                <h2>{{ event.registration_count }}</h2>
                                            </div>
                                            {% if request.user.is_superuser %}
                                            <div class="card-footer bg-transparent text-center">
                                                <a class="btn-sm btn-success text-white" href="{% url 'registration_data' event_link=event.link %}?type=all" style="text-decoration: none;"><i class="fa-solid fa-download"></i> Excel Data</a>
                                            </div>
                                            {% endif %}
                                            </div>
                                        </div>
                                        <div class="col-lg-4 col-md-6 col-sm-12">
                                            <div class="card mb-4">
                                            <div class="card-header bg-transparent">
                                                <h5>Total Transactions</h5>
                                            </div>
                                            <div class="card-body">
                                                <h2>{{ event.transaction_count }}</h2>
                                            </div>
                                            <div class="card-footer bg-transparent text-center">
                                                <span class="float-start"><b>Online:</b> {{ event.online_transaction_count }}</span>
                                                <span class="float-end"><b>Spot:</b> {{ event.spot_transaction_count }}</span>
                                            </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% for program in event.program_set.all %}
                                    <div class="col-lg-2 col-md-3 col-sm-4">
                                        <div class="card mb-4">
                                            <div class="card-header bg-transparent">
                                                <b>{{ program.name }}</b>
                                            </div>
                                            <div class="card-body">
                                                <h2>{{ program.total_registrations }}</h2>
                                            </div>
                                            {% if request.user.is_superuser %}
                                            <div class="card-footer align-items-center bg-transparent text-center">
                                                <a class="btn-sm btn-success text-white mx-auto" href="{% url 'registration_data' event_link=event.link %}?type=individual&program_id={{ program.id }}" style="text-decoration: none;"><i class="fa-solid fa-download"></i> Excel Data</a>
                                            </div>
                                            {% endif %}
                                        </div>
                                    </div>
                                {% endfor %}
                            </div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}
