{% extends 'web/layouts/base.html' %}

{% load static %}
{% block content %}
    <div class="page-content bg-white">

        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url(/static/images/banner/banner3.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">CASA</h1>
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li>CASA</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->

        <!-- Page Content Box ==== -->
		<div class="content-block">
            <!-- About Us ==== -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						 <div class="col-lg-6 m-b30">
                             <h2>About Us</h2>
							<p>The  Computer Science Department of Christ College offers B.Sc. Computer Science, BCA (Bachelor of Computer Application), M.Sc. Computer Science , Certificate Courses (in Android, Excel 2019 and Data Analytics) and Foundation Course in  Computer Fundamentals and ICT Training. B.Sc. Computer Science has started in the year 2012. BCA has started in the year 2013. M.Sc. has started in the year 2017.BVOC IT has started in the year 2018.Besides above mentioned courses Computer Science is also taught as complementary subject for B.Sc. Mathematics and B.Sc. Physics.</p>
						 </div>
						 <div class="col-lg-6">
							 <div class="row">
								<div class="col-lg-12 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="/static/images/icon/icon3.png" alt=""></a>
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Our Vision</h5>
                                            <ul>
                                                <li>To impart high quality professional training in undergraduate level with emphasis on basic principles of Computer Science and Applications.</li>
                                                <br>
                                                <li>To inculcate professional behavior, strong ethical values and leadership abilities in the young minds so as to work with a commitment to the progress of the nation.</li>
                                            </ul>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="/static/images/icon/icon1.png" alt=""></a>
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Our Mission</h5>
                                        <ul>
                                            <li>Imparting quality education in the field of Computer Science    and Applications.</li>
                                            <br>
                                            <li>To impart to students the logical and analytical skills required to have a competitive advantage in the field of Information Technology.</li>
                                            <br>
                                            <li>To mould students to become ethically responsible individuals and use technology sensibly.</li>
                                            <br>
                                            <li>To educate students to adapt to the changing dynamics of IT industry.</li>
                                            <br>
                                            <li>To encourage students to use knowledge gained to contribute to society.</li>
                                        </ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- About Us END ==== -->
			<!-- Why Choose ==== -->
			<div class="section-area bg-gray section-sp2 choose-bx">
				<div class="container">
					<div class="row">
						<div class="col-md-12 heading-bx text-center">
							<h2 class="title-head text-uppercase m-b0">The Courses <span> we offer</span></h2>
						</div>
					</div>
					<div class="row choose-bx-in">
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="service-bx m-b0">
								<div class="action-box">
									<img src="{% static 'images/courses/msc.jpg' %}" alt="">
								</div>
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-graduation-cap text-primary"></i>
									</div>
									<h4><a href="#">MSc Computer Science</a></h4>
									<a href="{% url 'course_details' slug='msc-computer-science' %}" class="btn radius-xl">View Course</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="service-bx">
								<div class="action-box">
									<img src="{% static 'images/courses/bsc.jpg' %}" alt="">
								</div>
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-user-graduate text-primary"></i>
									</div>
									<h4><a href="#">BSc Computer Science</a></h4>
									<a href="{% url 'course_details' slug='bsc-computer-science' %}" class="btn radius-xl">View Course</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="service-bx">
								<div class="action-box">
									<img src="{% static 'images/courses/bca.jpg' %}" alt="">
								</div>
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-graduation-cap text-primary"></i>
									</div>
									<h4><a href="#">BCA</a></h4>
									<a href="{% url 'course_details' slug='bca' %}" class="btn radius-xl">View Course</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Choose END ==== -->

			<div class="section-area section-sp2 popular-courses-bx" id="facultyDetails">
                {% include 'web/includes/loader.html' %}
			</div>

        </div>
		<!-- Page Content Box END ==== -->
    </div>
{% endblock content %}


{% block scripts %}

    <script>
        $(window).on('load', function () {
            const csrftoken = getCookie('csrftoken')
            setTimeout(()=>{
                $.ajax({
                url: '{% url 'lazy_load_faculty' %}',
                headers: {'X-CSRFToken': csrftoken},
                type: 'GET',
                success:function (data)
                {
                    $('#facultyDetails').html(data);
                },
                });
            }, 1000)
        });
    </script>

{% endblock scripts %}