{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">
	<meta name="keywords" content="University, College, Computer Science Department, Research, Education, College, Degree, Information Technology" />
	<meta name="author" content="Ryuga" />
    <meta name="title" content="Department of Computer Science | Christ College Irinjalakuda" />
	<meta name="description" content="Welcome to the Department of Computer Science, Christ College Irinjalakuda" />


	<!-- FAVICONS ICON ============================================= -->
	<link rel="icon" href="https://lairesit.sirv.com/Images/favicon-new.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="https://lairesit.sirv.com/Images/favicon.png" />

	<!-- PAGE TITLE HERE ============================================= -->
	<title>Department of Computer Science | Christ College (Autonomous) </title>

	<!-- MOBILE SPECIFIC ============================================= -->
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- All PLUGINS CSS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets.css' %}">

	<!-- TYPOGRAPHY ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">

	<!-- STYLESHEETS ============================================= -->
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}">
</head>
<body id="bg">
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image:url(https://lairesit.sirv.com/Images/gg.jpg);">
			<a href="https://christcs.in"><img src="https://lairesit.sirv.com/Images/logo-white.png" alt=""></a>
		</div>
		<div class="account-form-inner">
			<div class="account-container">
				<div class="heading-bx left">
					<h2 class="title-head">Well... <span>Hello there!</span></h2>
				</div>
				<form class="contact-bx">
					<div class="row placeani">
{#						<div class="col-lg-12">#}
{#							<div class="form-group">#}
{#								<div class="input-group">#}
{#									<label>Your Email</label>#}
{#									<input name="email" type="email" required="" class="form-control" required="">#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div class="col-lg-12">#}
{#							<div class="form-group">#}
{#								<div class="input-group">#}
{#									<label>Your Password</label>#}
{#									<input name="password" type="password" class="form-control" required="">#}
{#								</div>#}
{#							</div>#}
{#						</div>#}
{#						<div class="col-lg-12">#}
{#							<div class="form-group form-forget">#}
{#								<div class="custom-control custom-checkbox">#}
{#									<input type="checkbox" class="custom-control-input" id="customControlAutosizing">#}
{#									<label class="custom-control-label" for="customControlAutosizing">Remember me</label>#}
{#								</div>#}
{#								<a href="forget-password.html" class="ml-auto">Forgot Password?</a>#}
{#							</div>#}
{#						</div>#}
{#						<div class="col-lg-12 m-b30">#}
{#							<button name="submit" type="submit" value="Submit" class="btn button-md">Login</button>#}
{#						</div>#}
						<div class="col-lg-12">
{#							<h6>or login with google</h6>#}
							<div class="d-flex">
                                <div class="alert alert-warning mt-3" role="alert">
                                    <p>You are seeing this page since you have opened this site on instagram.</p>
                                    <p>We don't want instagram spying on all our data now do we?</p>
                                    <p>Please click the button below to copy the link and open the site in a secure browser</p>
                                    <i class="fa-brands fa-safari"></i>
                                    <i class="fa-brands fa-chrome"></i>
                                    <i class="fa-brands fa-firefox-browser"></i>
                                </div>
							</div>
                            <a class="btn btn-outline-warning text-dark-emphasis copyLinkBtn" href="#!" data-clipboard-target="#instagram-copy"><i class="fa-regular fa-clone"></i> Copy Link</a>
                            <input type="hidden" id="instagram-copy" value="https://zephyrus.christcs.in">
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://kit.fontawesome.com/7eae56138c.js" crossorigin="anonymous"></script>
<script src="{% static 'js/functions.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/clipboard@2.0.11/dist/clipboard.min.js"></script>
<script>
    new ClipboardJS('.copyLinkBtn');
</script>
<script>
        let userAgent = navigator.userAgent || navigator.vendor || window.opera;
        let str = navigator.userAgent;
        let instagram = str.indexOf("Instagram");
        let facebook = str.indexOf("FB");
        if( (instagram === -1 && facebook === -1) ) {
            window.location.href = "https://zephyrus.christcs.in";
        }
</script>
</body>
</html>
