{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="robots" content="index, follow">

	<meta name="keywords" content="University, College, Computer Science Department, Research, Education, College, Degree, Information Technology" />
	<meta name="author" content="Ryuga" />
    <meta name="title" content="Department of Computer Science | Christ College Irinjalakuda" />
	<meta name="description" content="Welcome to the Department of Computer Science, Christ College Irinjalakuda" />

	<link rel="icon" href="https://lairesit.sirv.com/Images/favicon-new.ico" type="image/x-icon" />
	<link rel="shortcut icon" type="image/x-icon" href="https://lairesit.sirv.com/Images/favicon.png" />
	<title>Department of Computer Science | Christ College (Autonomous) </title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{% static 'css/assets.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/typography.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
	<link class="skin" rel="stylesheet" type="text/css" href="{% static 'css/color/color-1.css' %}">
</head>
<body id="bg">
<div class="page-wraper">
	<div id="loading-icon-bx"></div>
	<div class="account-form">
		<div class="account-head" style="background-image:url(https://lairesit.sirv.com/Images/404_img.jpg);">
			<a href="https://christcs.in"><img src="https://lairesit.sirv.com/Images/logo-white.png" alt></a>
		</div>
		<div class="account-form-inner">
            <div class="container">
                <div class="alert alert-primary mt-3" role="alert">
                    For <b><b>Zephyrus 3.0 registration</b></b>, Login with your google account.
                </div>
            </div>
			<div class="account-container">
				<div class="heading-bx left">
					<h2 class="title-head">Sign Up <span>Now</span></h2>
					<p>Login Your Account <a href="{% url 'login' %}">Click here</a></p>
				</div>
				<form class="contact-bx">
					<div class="row placeani">
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<label>Your Email</label>
									<input name="name" type="email" required class="form-control" required>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<label>Your Password</label>
									<input name="password" type="password" required class="form-control" required>
								</div>
							</div>
						</div>
						<div class="col-lg-12">
							<div class="form-group">
								<div class="input-group">
									<label>Confirm Password</label>
									<input name="confirm_password" type="password" class="form-control" required>
								</div>
							</div>
						</div>
						<div class="col-lg-12 m-b30">
							<button name="submit" type="submit" value="Submit" class="btn button-md">Sign Up</button>
						</div>
						<div class="col-lg-12">
							<h6>or directly login with google</h6>
							<div class="d-flex">
                                <a type="button" href="{{ google_oauth_url }}" class="login-with-google-btn" >
                                  Sign in with Google
                                </a>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/6dafe43970.js" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{% static 'js/functions.js' %}"></script>
</body>
</html>
