{% extends 'layouts/base.html' %}

{% load static %}
{% block content %}
    <div class="page-content bg-white">

        <!-- Page Heading Box ==== -->
        <div class="page-banner ovbl-dark" style="background-image:url(/static/images/banner/banner3.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">About Us</h1>
				 </div>
            </div>
        </div>
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="#">Home</a></li>
					<li>About Us</li>
				</ul>
			</div>
		</div>
		<!-- Page Heading Box END ==== -->

        <!-- Page Content Box ==== -->
		<div class="content-block">
            <!-- About Us ==== -->
			<div class="section-area section-sp1">
                <div class="container">
					 <div class="row">
						 <div class="col-lg-6 m-b30">
							<h2 class="m-b10">Our Story</h2>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
							<a href="#" class="btn">Read More</a>
						 </div>
						 <div class="col-lg-6">
							 <div class="row">
								<div class="col-lg-12 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="/static/images/icon/icon1.png" alt=""></a>
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Our Philosophy</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
										</div>
									</div>
								</div>
								<div class="col-lg-12 col-md-6 col-sm-6 m-b30">
									<div class="feature-container">
										<div class="feature-md text-white m-b20">
											<a href="#" class="icon-cell"><img src="/static/images/icon/icon3.png" alt=""></a>
										</div>
										<div class="icon-content">
											<h5 class="ttr-tilte">Key Of Success</h5>
											<p>Lorem ipsum dolor sit amet, consectetuer adipiscing.</p>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
            </div>
			<!-- About Us END ==== -->
			<!-- Why Choose ==== -->
			<div class="section-area bg-gray section-sp2 choose-bx">
				<div class="container">
					<div class="row">
						<div class="col-md-12 heading-bx text-center">
							<h2 class="title-head text-uppercase m-b0">The Courses <span> we offer</span></h2>
						</div>
					</div>
					<div class="row choose-bx-in">
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="service-bx">
								<div class="action-box">
									<img src="{% static 'images/courses/bsc.jpg' %}" alt="">
								</div>
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-graduation-cap text-primary"></i>
									</div>
									<h4><a href="#">BSc Computer Science</a></h4>
									<a href="{% url 'course_details' slug='bsc-computer-science' %}" class="btn radius-xl">View Course</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="service-bx">
								<div class="action-box">
									<img src="{% static 'images/courses/bca.jpg' %}" alt="">
								</div>
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-user-graduate text-primary"></i>
									</div>
									<h4><a href="#">BCA</a></h4>
									<a href="{% url 'course_details' slug='bca' %}" class="btn radius-xl">View Course</a>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-12">
							<div class="service-bx m-b0">
								<div class="action-box">
									<img src="{% static 'images/courses/msc.jpg' %}" alt="">
								</div>
								<div class="info-bx text-center">
									<div class="feature-box-sm radius bg-white">
										<i class="fa fa-graduation-cap text-primary"></i>
									</div>
									<h4><a href="#">MSc Computer Science</a></h4>
									<a href="{% url 'course_details' slug='msc-computer-science' %}" class="btn radius-xl">View Course</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- Why Choose END ==== -->

			<div class="section-area section-sp2 popular-courses-bx" id="facultyDetails">
                {% include 'includes/loader.html' %}
			</div>

        </div>
		<!-- Page Content Box END ==== -->
    </div>
{% endblock content %}


{% block scripts %}

    <script>
        $(window).on('load', function () {
            const csrftoken = getCookie('csrftoken')
            setTimeout(()=>{
                $.ajax({
                url: '{% url 'lazy_load_faculty' %}',
                headers: {'X-CSRFToken': csrftoken},
                type: 'GET',
                success:function (data)
                {
                    $('#facultyDetails').html(data);
                },
                });
            }, 1000)
        });
    </script>

{% endblock scripts %}