{% extends 'layouts/base.html' %}

{% load static %}
{% block content %}

<div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(/static/images/banner/banner2.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Events</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li>Events</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Portfolio  -->
			<div class="section-area section-sp1 gallery-bx" style="margin-top: -35px; !important;">
				<div class="container">
					<div class="feature-filters clearfix center m-b40">
						<ul class="filters" data-toggle="buttons">
							<li data-filter="" class="btn active">
								<input type="radio">
								<a href="#"><span>All</span></a> 
							</li>
							<li data-filter="live" class="btn">
								<input type="radio">
								<a href="#"><span>Live</span></a>
							</li>
							<li data-filter="upcoming" class="btn">
								<input type="radio">
								<a href="#"><span>Upcoming</span></a> 
							</li>
							<li data-filter="ended" class="btn">
								<input type="radio">
								<a href="#"><span>Ended</span></a>
							</li>
						</ul>
					</div>
					<div class="clearfix">
						<ul id="masonry" class="ttr-gallery-listing magnific-image row">
                            {% for event in events %}
                            <a href="{% url 'event_details' slug=event.link %}">
                                <li class="action-card col-lg-6 col-md-6 col-sm-12 {{ event.status }}">
                                    <div class="event-bx m-b30">
                                        <div class="action-box">
                                            <img src="{{ event.image_url }}" alt="">
                                        </div>
                                        <div class="info-bx d-flex">
                                            <div>
                                                <div class="event-time">
                                                    <div class="event-date">{{ event.date.day }}</div>
                                                    <div class="event-month">{{ event.month }}</div>
                                                </div>
                                            </div>
                                            <div class="event-info">
                                                <h4 class="event-title"><a href="#">{{ event.name }}</a></h4>
                                                <ul class="media-post">
                                                    <li><a href="#"><i class="fa fa-clock-o"></i> {{ event.date.time }}</a></li>
                                                    <li><a href="#"><i class="fa fa-map-marker"></i> {{ event.venue }}</a></li>
                                                </ul>
                                                <p>{{ event.short_description }}</p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </a>
                            {% endfor %}
						</ul>
					</div>
				</div>
			</div>
        </div>
</div>
{% endblock content %}