{% extends 'layouts/base.html' %}

{% load static %}
{% block content %}
    <div class="page-content bg-white">
        <!-- inner page banner -->
        <div class="page-banner ovbl-dark" style="background-image:url(/static/images/banner/alumni.jpg);">
            <div class="container">
                <div class="page-banner-entry">
                    <h1 class="text-white">Department Gallery</h1>
				 </div>
            </div>
        </div>
		<!-- Breadcrumb row -->
		<div class="breadcrumb-row">
			<div class="container">
				<ul class="list-inline">
					<li><a href="{% url 'home' %}">Home</a></li>
					<li>Gallery</li>
				</ul>
			</div>
		</div>
		<!-- Breadcrumb row END -->
        <!-- contact area -->
        <div class="content-block">
			<!-- Portfolio  -->
			<div class="section-area section-sp1 gallery-bx" style="margin-top: -35px !important;">
				<div class="container">
					<div class="clearfix">
						<ul id="masonry" class="ttr-gallery-listing magnific-image row">
                            {% for obj in gallery_list %}
							<li class="action-card col-lg-3 col-md-4 col-sm-6 book">
								<div class="ttr-box portfolio-bx">
									<div class="ttr-media media-ov2 media-effect">
										<a href="javascript:void(0);">
											<img src="{{ obj.image_url }}" alt="">
										</a>
										<div class="ov-box">
											<div class="overlay-icon align-m"> 
												<a href="{{ obj.image_url }}" class="magnific-anchor" title="Click to view">
													<i class="fa fa-eye"></i>
												</a>
											</div>
										</div>
									</div>
								</div>
							</li>
                            {% endfor %}
						</ul>
					</div>
					<div class="feature-filters clearfix center m-b40">
                        {% if page_obj.has_previous %}
                        <a class="btn" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                        {% endif %}
                        {% if page_obj.has_next %}
                        <a class="btn" href="?page={{ page_obj.next_page_number }}">Next</a>
                        {% endif %}
					</div>
				</div>
			</div>
        </div>
    </div>
{% endblock content %}