<div class="widget-box">
    <div class="wc-title">
        <h4>Event Registration</h4>
    </div>
    <div class="widget-inner">
        <div class="row">
            <div class="col-lg-5">
                <div class="card mb-2">
                    <div class="card-header">
                        <div class="form-check">
                        <b>Events</b>
                          <span style="float:right;">
                             <b> Reg fee</b>
                          </span>
                        </div>
                    </div>
                </div>
                {% for program in programs %}
                <div class="card mt-1">
                    <div class="card-body">
                        <div class="form-check">
                          <input class="form-check-input selectEvent" autocomplete="off" type="checkbox" value="{{ program.name }}" event_id="{{ program.id }}" price="{{ program.reg_fee }}">
                          <label class="form-check-label" for="flexCheckDefault">
                            <b>{{ program.name }}</b>
                          </label>
                          <span style="float:right;">
                              Rs.{{ program.reg_fee }}
                          </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                <div class="card">
                    <div class="card-header">
                        Cost Summary
                    </div>
                    {% include 'dashboard/extendable/cost_summary.html' %}
                    <div class="card-footer bg-transparent">
                        <button class="btn btn-primary" id="makePaymentBtn">Make Payment</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="paymentConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include 'dashboard/extendable/cost_summary.html' %}
      </div>
      <div class="modal-footer">
    <div class="card">
        <ul>
            <li>Do not close your upi app after making payment.</li>
            <li>Your will be redirected back to the website after making payment</li>
            <li>If you are not redirected back to the website, press back button of your phone <b>once</b> to go back to the webpage, only if your payment was successful.</li>
        </ul>
    </div>
      </div>
        <form action="zephyrus/registration/" method="post" id="confirmationForm">
            {% csrf_token %}
            <input type="hidden" name="txnAmt" id="modalTxnAmt">
            <input type="hidden" name="eventsList" id="modalEventsList">
        </form>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" form="confirmationForm" class="btn btn-primary">Confirm Payment</button>
      </div>
    </div>
  </div>
</div>
