{% load static %}

{% if not does_not_exist %}
<div class="card p-2 bg-white border-0 shadow-lg">
    <div class="card-header bg-transparent">
        <h4>{% if request.user.is_superuser %}Spot {% else %}Event{% endif %} Registration</h4>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-5">
                <div class="widget-box mb-3 h-auto">
                    <div class="wc-title">
                        <div class="form-check">
                        <b>Events</b>
                          <span style="float:right;">
                             <b> Reg fee</b>
                          </span>
                        </div>
                    </div>
                </div>
                {% for program in programs %}
                <div class="card mb-1">
                    <div class="card-body">
                        <div class="form-check">
                          <input class="form-check-input selectEvent" autocomplete="off" type="checkbox" value="{{ program.name }}" event_id="{{ program.id }}" price="{{ program.reg_fee }}">
                          <label class="form-check-label" for="flexCheckDefault">
                            <b>{{ program.name }}</b>
                          </label>
                          <span style="float:right;">
                              Rs.{{ program.reg_fee }}
                          </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                {% if created %}
                <div class="alert alert-success alert-dismissible fade show hide" role="alert">
                  <strong>Successful!</strong> Registration created successfully.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="widget-box h-auto">
                    <div class="wc-title">
                        <h4>Cost Summary</h4>
                    </div>
                    {% include 'dashboard/extendable/cost_summary.html' %}
                    <div class="widget-inner">
                        <button class="btn btn-dark" id="makePaymentBtn">{% if not request.user.is_superuser %}Make Payment{% else %}Create Registration{% endif %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="{% static 'js/app.js' %}"></script>
{% else %}
<div class="card p-5 text-center">
    <b>Email does not exist</b>
</div>
{% endif %}
