<div class="widget-box">
    <div class="wc-title">
        <h4>Event Registration</h4>
    </div>
    <div class="widget-inner">
        <div class="row">
            <div class="col-lg-5">
                <div class="card mb-2">
                    <div class="card-header">
                        <div class="form-check">
                        <b>Events</b>
                          <span style="float:right;">
                             <b> Reg fee</b>
                          </span>
                        </div>
                    </div>
                </div>
                {% for program in programs %}
                <div class="card mt-1">
                    <div class="card-body">
                        <div class="form-check">
                          <input class="form-check-input selectEvent" autocomplete="off" type="checkbox" value="{{ program.name }}" event_id="{{ program.id }}" price="{{ program.reg_fee }}">
                          <label class="form-check-label" for="flexCheckDefault">
                            <b>{{ program.name }}</b>
                          </label>
                          <span style="float:right;">
                              Rs.{{ program.reg_fee }}
                          </span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="col-lg-2"></div>
            <div class="col-lg-5">
                {% if created %}
                <div class="alert alert-success alert-dismissible fade show hide" role="alert">
                  <strong>Successful!</strong> Transaction created successfully.
                  <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
                {% endif %}
                <div class="card">
                    <div class="card-header">
                        Cost Summary
                    </div>
                    {% include 'dashboard/extendable/cost_summary.html' %}
                    <div class="card-footer bg-transparent">
                        <button class="btn btn-primary" id="makePaymentBtn">{% if not request.user.is_superuser %}Make Payment{% else %}Create Registration{% endif %}</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="paymentConfirmationModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Payment Confirmation</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        {% include 'dashboard/extendable/cost_summary.html' %}
      </div>
      <div class="modal-footer">
        {% if not request.user.is_superuser %}
        <small><b>(Scroll down to pay)</b></small>
        <div class="card">
            <img src="https://lairesit.sirv.com/Images/photo_2021-12-29_21-31-36.jpg">
        </div>
        {% endif %}
        <div class="card-body">
        <form action="zephyrus/registration/" method="post" id="confirmationForm">
            {% csrf_token %}
            <input type="hidden" name="txnAmt" id="modalTxnAmt">
            <input type="hidden" name="eventsList" id="modalEventsList">
            {% if request.user.is_superuser %}
            <label>
                Enter Recipient Email
                <input type="email" name="recipientEmail" class="form-control">
            </label>
            {% endif %}
        </form>
        {% if not request.user.is_superuser %}
        <p>To use <b>Gpay/Phonepe</b> as payment method, <b>select UPI</b></p>
        {% else %}
            <b class="text-danger">Make sure the email, events selected and payment made by student are correct before Confirming Registration</b>
        {% endif %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <button type="submit" form="confirmationForm" class="btn btn-primary">Confirm {% if not request.user.is_superuser %}Payment{% else %}Registration{% endif %}</button>
      </div>
    </div>
  </div>
</div>
