{% if registration %}

<div class="col-md-6">
    <div class="card user-card-full p-3">
        <div class="row m-l-0 m-r-0">
            <div class="col-sm-4 bg-c-lite-green user-profile">
                <div class="card-block text-center text-white">
                    <div class="mb-2"> <img src="{{ registration.student.image_url }}" class="rounded-circle" alt="User-Profile-Image"> </div>
                </div>
            </div>
            <div class="col-sm-8 mt-4">
                <div class="card-block">
                    <div class="row">
                        <div class="col">
                            <h6 class="mb-4 p-b-5 b-b-default fw-bolder"><u>User Details</u></h6>
                        </div>
                        <div class="col">
                            {% if registration.made_successful_transaction %}{% if registration.physical_id_allotted %}<button class="btn btn-sm btn-success">ID Allotted</button>{% else %}<button class="btn btn-sm btn-info" id="allotIdBtn">Allot ID Now</button>{% endif %}{% else %}<button class="btn btn-sm btn-danger">Not Registered</button>{% endif %}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="mb-2 fw-bold">Name</p>
                            <h6 class="text-muted fw-400">{{ registration.student.name }}</h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-2 fw-bold">College</p>
                            <h6 class="text-muted f-w-400">{{ registration.student.college_name }}</h6>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="col-sm-6">
                            <p class="mb-2 fw-bold">Department</p>
                            <h6 class="text-muted f-w-400">{{ registration.student.department }}</h6>
                        </div>
                        <div class="col-sm-6">
                            <p class="mb-2 fw-bold">Phone Number</p>
                            <h6 class="text-muted f-w-400">{{ registration.student.phone_number }}</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-md-6">
    <div class="h-100 p-3 bg-transparent border rounded-3">
      <h5>Events Registered</h5><br/>
      {% for program in registration.student.registered_programs.all %}
      <div class="card p-2 mx-2 my-2 border-1 border-dark">
         <b> {{program.name }}</b>
      </div>
      {% endfor %}
    </div>
</div>
`   <div class="col-md-12">
   <div class="h-100 p-3 bg-transparent border rounded-3">
      <h5>User's Transactions</h5><br/>
      <table class="table">
        <thead>
            <tr>
                <th scope="col"># Txnid</th>
                <th scope="col">Amount</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for transaction in registration.successful_transactions %}
            <tr>
              <th scope="row">{{ transaction.id }}</th>
              <td>{{ transaction.value }}</td>
              <td>{{ transaction.status }}</td>
            </tr>
            {% endfor %}
        </tbody>
      </table>
   </div>
</div>
 <script>
    $('#allotIdBtn').click(function (){
        let csrftoken = getCookie("csrftoken")
        let reg_id = $('#regIdInput').val();
        $.ajax({
        url: `/event/registration/details/${reg_id}/?allot=true`,
        headers: {'X-CSRFToken': csrftoken},
        type: 'GET',
        success:function (data)
        {
            $('#userDataRefresh').html(data);
        },
        });
    });
 </script>
{% else %}

 <div class="col-lg-12 mt-2 p-5 text-center card border-dark">
        <h5>No Record Found</h5>
 </div>

{% endif %}