{% extends 'dashboard/layouts/base.html' %}

{% load static %}
{% block content %}
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Dashboard</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
					<li>Dashboard</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-8 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Your Dashboard</h4>
						</div>
						<div class="widget-inner">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-indicators">
                                {% for slide in slideshow %}
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{ slide.order }}" {% if slide.order == 0 %}class="active" aria-current="true"{% endif %} aria-label="Slide"></button>
                                {% endfor %}
                              </div>
                              <div class="carousel-inner">
                                  {% for slide in slideshow %}
                                    <div class="carousel-item {% if slide.order == 0 %}active{% endif %}">
                                      <img src="{{ slide.image }}" class="d-block w-100" alt="...">
                                    </div>
                                  {% endfor %}
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 m-b30">
                    {% if request.user.student.active_registration %}
                    <div class="card">
                        <div class="card-header text-center bg-transparent">
                           <b> Active Registration</b>
                        </div>
                        <div class="card-body p-3 text-center">
                            <div class=" image d-flex flex-column justify-content-center align-items-center"> <button class="btn-sm btn-outline-dark"> <img src="{% if request.user.student.active_registration.qr %}{{ request.user.student.active_registration.qr }}{% else %}https://cdn.discordapp.com/attachments/835918464915996705/924684871442518136/qrcode.png{% endif%}" height="100" width="100" /></button> <span class="name mt-3">{{ request.user.student.name }}</span> <span class="idd">{{ request.user.student.college_name }}</span>
                                <div class="d-flex flex-row justify-content-center align-items-center gap-2 mt-2"><span class="idd1 card-header bg-tpb3"><b>{{ request.user.student.active_registration.id }}</b></span></div>
                            </div>

                            <a href="{% url 'registration_details' reg_id=request.user.student.active_registration.id %}" class="btn btn-sm btn-dark mt-3"><i class="fas fa-info-circle"></i> Registration Details</a>

                          <div class="card-footer bg-transparent mt-5">
                              <a class="btn btn-sm text-white w-100" style="background-color: #6021ff" href="{% url 'events' %}"><i class="fas fa-calendar-check"></i> Event Details</a>
                              <a class="btn btn-sm btn-warning w-100 mt-2" href="{% url 'registration' %}"><i class="fas fa-calendar-plus"></i> Register Now</a>
                          </div>
                        </div>
                    </div>
                    {% else %}
                    <div class="card d-md-none d-lg-none d-sm-block">
                      <div class="card-footer bg-light">
                          <a class="btn btn-sm w-100 text-white" style="background-color: #6021ff" href="{% url 'events' %}"><i class="fas fa-calendar-check"></i> Event Details</a>
                          <a class="btn btn-sm btn-warning w-100 mt-2" href="{% url 'registration' %}"><i class="fas fa-calendar-plus"></i> Register Now</a>
                      </div>
                    </div>
                    <div class="card bg-gray mt-2">
                      <div class="card-header text-dark text-center">
                        <b>Zephyrus Registration Demo</b>
                      </div>
                      <div class="card-body bg-light">
                        <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/cSkHQRyYYg8">
                        </iframe>
                      </div>
                    </div>
                    {% endif %}
                    <div class="card mt-3" style="background-color: #032448;">
                      <div class="card-header text-white">
                        Facing Issues? Contact us
                      </div>
                      <div class="card-body row">
                          <div class="col-6">
                                <a class="btn btn-sm btn-warning w-100" href="tel:919539921327" target="_blank"><i class="fas fa-phone"></i> Call</a>
                          </div>
                          <div class="col-6">
                                <a class="btn btn-sm btn-success w-100" href="https://wa.me/918075018628" target="_blank" style="background-color: #25D366"><i class="fab fa-whatsapp"></i> Whatsapp</a>
                          </div>
                      </div>
                    </div>
				</div>
			</div>
		</div>
	</main>
{% endblock content %}