{% extends 'dashboard/layouts/base.html' %}

{% load static %}
{% block content %}
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Dashboard</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="#"><i class="fa fa-home"></i>Home</a></li>
					<li>Dashboard</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-8 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Your Dashboard</h4>
						</div>
						<div class="widget-inner">
                            <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
                              <div class="carousel-indicators">
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
                                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
                              </div>
                              <div class="carousel-inner">
                                <div class="carousel-item active">
                                  <img src="#" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="#" class="d-block w-100" alt="...">
                                </div>
                                <div class="carousel-item">
                                  <img src="#" class="d-block w-100" alt="...">
                                </div>
                              </div>
                              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
                                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Previous</span>
                              </button>
                              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
                                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                <span class="visually-hidden">Next</span>
                              </button>
                            </div>
						</div>
					</div>
				</div>

				<div class="col-lg-4 m-b30">
                    <div class="card bg-gray">
                      <div class="card-header text-dark text-center">
                       <b>Zephyrus Registration Demo</b>
                      </div>
                      <div class="card-body bg-light">
                        <iframe width="100%" height="315"
                        src="https://www.youtube.com/embed/caram2NIv8g">
                        </iframe>
                      </div>
                      <div class="card-footer bg-light">
                          <a class="btn btn-sm btn-warning w-100" href="{% url 'registration' %}"><i class="fas fa-user-plus"></i> Register Now</a>
                      </div>
                    </div>
                    <div class="card mt-3" style="background-color: #032448;">
                      <div class="card-header text-white text-center">
                        Contact Website Administrator
                      </div>
                      <div class="card-body row">
                          <div class="col-6">
                                <a class="btn btn-sm btn-warning w-100"><i class="fas fa-phone"></i> Call</a>
                          </div>
                          <div class="col-6">
                                <a class="btn btn-sm btn-success w-100" style="background-color: #25D366"><i class="fab fa-whatsapp"></i> Whatsapp</a>
                          </div>
                      </div>
                    </div>
				</div>
			</div>
		</div>
	</main>
{% endblock content %}