
{% extends 'dashboard/layouts/base.html' %}

{% load static %}
{% load markdown_extras %}
{% block content %}
<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Programs</h4>
				<ul class="db-breadcrumb-list">
					<li>Dashboard</li>
					<li>Zephyrus</li>
                    <li>Programs</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-12 m-b30">
					<div class="widget-box">
						<div class="wc-title">
							<h4>Programs</h4>
						</div>
						<div class="widget-inner">
                            {% for program in programs %}
							<div class="card-courses-list admin-courses">
								<div class="card-courses-media">
									<img src="{{ program.image }}" alt=""/>
								</div>
								<div class="card-courses-full-dec">
									<div class="card-courses-title">
										<h4>{{ program.name }}</h4>
									</div>
									<div class="card-courses-list-bx">
										<ul class="card-courses-view">
											<li class="card-courses-user">
												<div class="card-courses-user-pic">
													<img src="{{ program.staff.image_url }}" width="50px" alt=""/>
												</div>
												<div class="card-courses-user-info">
													<h5>Staff Coordinator</h5>
													<h4>{{ program.staff.name }}</h4>
												</div>
											</li>
											<li class="card-courses-categories">
												<h5>Contact no</h5>
                                                <h4><a href="tel:{{ program.staff.phone_number }}">{{ program.staff.phone_number }}</a></h4>
										</ul>
									</div>
									<div class="row card-courses-dec">
										<div class="col-md-12">
											<h6 class="m-b10">Program Description</h6>
											<p>{{ program.description | markdown | safe }} </p>
										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}