{% extends 'dashboard/layouts/base.html' %}
{% load markdown_extras %}
{% load static %}
{% block content %}
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Registration Details</h4>
				<ul class="db-breadcrumb-list">
					<li>Dashboard</li>
					<li>Registration</li>
					<li>Details</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-8 col-md-6 col-sm-12 order-1 m-b30">
                    <div class="widget-box h-auto">
                        <div class="wc-title">
                            <h4>Registered Events</h4>
                        </div>
                        <div class="widget-inner">
                            {% for program in registration.my_registered_programs %}
							<div class="card-courses-list admin-courses">
								<div class="card-courses-media">
									<img src="{{ program.image }}" alt=""/>
								</div>
								<div class="card-courses-full-dec">
									<div class="card-courses-title">
										<h4>{{ program.name }}</h4>
									</div>
									<div class="card-courses-list-bx">
										<ul class="card-courses-view">
											<li class="card-courses-user">
												<div class="card-courses-user-pic">
													<img src="{{ program.staff.image_url }}" width="50px" alt=""/>
												</div>
												<div class="card-courses-user-info">
													<h5>Staff Coordinator</h5>
													<h4>{{ program.staff.name }}</h4>
												</div>
											</li>
											<li class="card-courses-categories">
												<h5>Contact no</h5>
												<h4>{{ program.staff.phone_number }}</h4>
											</li>
										</ul>
									</div>
									<div class="row card-courses-dec">
										<div class="col-md-12">
											<h6 class="m-b10">Program Description</h6>
											<p>{{ program.description | markdown | safe }} </p>
										</div>
									</div>
								</div>
							</div>
                            {% endfor %}
                        </div>
                    </div>
				</div>
				<div class="col-lg-4 col-md-6 col-sm 12 order-0 m-b30">
                <div class="widget-box h-auto">
                    <div class="wc-title">
                       <b> Registration Profile</b>
                    </div>
                    <div class="widget-inner">
{#                        <div class="well well-sm">#}
                            <div class="row">
                                <div class="col-sm-6 col-md-4 text-center">
                                    <img src="{% if registration.qr %}{{ registration.qr }}{% else %}https://cdn.discordapp.com/attachments/835918464915996705/924684871442518136/qrcode.png{% endif %}" alt=""  class="img-thumbnail" />
                                    <a class="btn btn-sm btn-outline-secondary mt-2 w-100 text-dark"><b>{{ registration.id }}</b></a>
                                </div>
                                <div class="col-sm-6 col-md-8">
                                    <br/>
                                    <h4>{{ registration.student.name }}</h4>
                                    <br/>
                                    <p>
                                        <i class="fa-solid fa-graduation-cap"></i> {{ registration.student.college_name }}
                                        <br />
                                        <i class="fa-solid fa-envelope"></i> {{ registration.student.user.email }}
                                        <br />
                                        <i class="fa-brands fa-square-whatsapp"></i> {{ registration.student.phone_number }}
                                    </p>
                                </div>
                            </div>
{#                        </div>#}
                    </div>
                </div>
				</div>
			</div>
		</div>
	</main>
{% endblock content %}