
{% extends 'dashboard/layouts/base.html' %}

{% load static %}
{% block content %}
<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<h4 class="breadcrumb-title">Schedule</h4>
				<ul class="db-breadcrumb-list">
					<li><a href="{% url 'dashboard' %}"><i class="bi bi-tv"></i>Dashboard</a></li>
					<li>Zephyrus</li>
                    <li>Schedule</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-12 m-b30">
					<div class="card p-2">
						<div class="card-header bg-transparent">
							<h4>Event Schedule</h4>
						</div>
                        {% for day in event_days %}
						<div class="card-body border-dark">
                            <h5>{{ day.date }}</h5>
                            <table class="table w-100">
                                    <thead>
                                        <tr>
                                            <th class="border-0">Time</th>
                                            <th class="border-0">Scheduled Event</th>
                                            <th class="border-0">Venue</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for schedule in day.schedule %}
                                         {% if schedule.has_assigned_programs %}
                                           {% for program in schedule.programs.all %}
                                             <tr {% if program in request.user.student.registered_programs.all %} class="table-primary" {% endif %}>
                                                <td>{{ schedule.start_time }} - {{ schedule.end_time }}</td>
                                                <td><i class="bi bi-dash-square-fill"></i>   {{ program.name }}</td>
                                                <td>{% if program.venue %}{{ program.venue }}{% else %} <b>-</b> {% endif %}</td>
                                             </tr>
                                            {% endfor %}
                                         {% else %}
                                             <tr>
                                                <td>{{ schedule.start_time }} - {{ schedule.end_time }}</td>
                                                <td><i class="bi bi-dash-square-fill"></i>   {{ schedule.default_display }}</td>
                                                <td>{% if schedule.venue %}{{ schedule.venue }}{% else %} <b>-</b> {% endif %}</td>
                                             </tr>
                                         {% endif %}
                                        {% endfor %}
                                    </tbody>
                            </table>
						</div>
                        {% endfor %}
					</div>
				</div>
			</div>
		</div>
	</main>

{% endblock content %}
