{% extends 'dashboard/layouts/base.html' %}

{% load static %}
{% block content %}
	<main class="ttr-wrapper">
		<div class="container-fluid">
			<div class="db-breadcrumb">
				<ul class="db-breadcrumb-list">
					<li><a href="{% url 'dashboard' %}"><i class="fa fa-tv"></i>Dashboard</a></li>
					<li>User Profile</li>
				</ul>
			</div>
			<div class="row">
				<div class="col-lg-12 m-b30">
                    {% include 'dashboard/extendable/profile_data.html' %}
				</div>
			</div>
		</div>
	</main>

{% endblock content %}